.dziejesie {
    background-color: rgba(255, 252, 47, 0.425);

    &.obraz {
        border-radius: 50%;
        transition: all 500ms ease;
        border: 10px solid silver;
    }
    &:hover {
        transform: rotate(180deg);
    }
}

p {
    border: 10px solid red;
}

.Kontener {
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 5px black;
}
